<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Retrofilmes</title>
</head>
<body>
    <body id="corpo">
        <div class="container">
            <nav>
                <div class="logo" style="width: 100%;">
                    <a href="login.html" title="Login"><img title="Login" src="img/logo.png" style="width: 220px;"/></a>
                </div>
            </nav>
            <div class="group-form">
                <form>
                    <h1>Entrar</h1>
                    <div class="form-g">
                        <div>
                            <input type="text" placeholder="Email ou Número de telefone" required>
                        </div>
                        <div>
                            <input type="password" placeholder="Senha" required>
                        </div>
                        <button>Entrar</button>
                        <div class="form-footer">
                            <input type="checkbox" id="check">
                            <label style="margin-left: 10px;" for="check">Lembre-me</label>
                            <p>Precisa de ajuda?</p>
                            <div class="clear"></div>
                        </div>
                    </div>
                </form>
                <div class="box-description">
                    <p>Novo para RetroPlay?<span> Increva-se agora</span>.</p>
                </div>
            </div>
        </div>
</body>
</html>